.header {
    /* border: 10px solid red; */
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-inline: 1.5rem;
    border-block-end: 1px solid var(--gray10)
}

.header-logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.header-primary {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-secundary {
    display: flex;
    align-items: center;
    gap: 3rem;

}