.hourCell {
    /* border: 1px solid red; */
    /* position: relative;
    top: -5px; */
    place-self: start end;
    /* justify-self: end;
    align-self: start; */
    transform: translateY(-50%);
    font: var(--body3-regular);
    padding-inline-end: 1rem;
    position: relative;
}

.hourCell::before {
    inline-size: .5rem;
    content: '';
    block-size: 1px;
    background: currentColor;
    position: absolute;
    inset-inline-end: 0;
    inset-block-end: 50%;
}