.modal {
   
    flex-direction: column;
    gap:1.5rem;
    position:absolute;
    top:200px;
    left:200px;
    padding-inline: 3rem;
    padding-block: 1.5rem;
    margin: initial;
    border:none;
    max-inline-size: 28rem;
    inline-size: 100%;
    border-radius: .25rem;
    box-shadow: 0.08734px 2.52442px 7.4963px 0px rgba(0, 0, 0, 0.07), 0.41288px 11.9336px 29.3037px 0px rgba(0, 0, 0, 0.04), 1.0719px 30.98146px 92px 0px rgba(0, 0, 0, 0.03);

    }

    .modal[open] {
        display:flex;
    }

    .modal::backdrop {
        background: rgb(0, 0, 0,.3);
    }

    .modal-actions {
        display: flex;
        justify-content: flex-end;
    }